@font-face {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  src: url("./fonts/Inter_18pt-Bold.ttf");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  src: url("./fonts/Inter_18pt-Regular.ttf");
}

/* RESET CSS */
:root {
  --black: rgb(2, 13, 18);
  --white: rgb(255, 255, 255);
  --white-low: rgba(218, 218, 218, 0.3);
  --blue: rgb(21, 208, 255);
}
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-inline: 0;
  margin-block: 0;
}
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color-scheme: dark;
}
body {
  min-height: 100dvh;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* util */
.container {
  max-width: 56rem;
  margin-inline: auto;
  padding-block: 6rem;
  padding-inline: 1.5rem;
}
.hidden {
  display: none;
}
.highlight {
  color: var(--blue);
}
.nav-item {
  font-weight: 600;
  text-transform: capitalize;
  user-select: none;
}
.section-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue);
}
.section-text {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  color: var(--white);
}
.shape {
  position: fixed;
  width: 40px;
  border-radius: 50%;
  background-color: var(--blue);
  /* filter: blur(275px) saturate(100%); */
  transform: translate(-50%, -50%);
  opacity: 15%;
  aspect-ratio: 1/1;
  pointer-events: none;
  z-index: 99;
}
/* HEADER STYLING */

.header-container {
  width: 100%;
  height: max-content;
}

.header-container {
  /* small screen default style */
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

  & .logo {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--white);
    transition: 200ms ease-out;
    &:hover {
      color: var(--blue);
    }
  }

  & .nav-link {
    display: none;
  }

  & .nav-link-mobile {
    --padding-top: 2.5rem;
    position: absolute;
    width: 10rem;
    height: max-content;
    top: calc(1.9rem + var(--padding-top));
    right: calc(0% + 1.5rem);
    border-radius: 0.5rem;
    background-color: var(--black);
    border: 1px solid var(--white-low);
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: 400ms ease-out;
    gap: 1rem;

    & a {
      font-size: 1.2rem;
      text-decoration: none;
      color: var(--white);
      transition: 200ms ease-out;

      &:hover {
        color: var(--blue);
      }
    }
  }

  & .burger-menu {
    --size: 25px;
    width: var(--size);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    &:hover > span {
      background-color: var(--blue);
    }

    & span {
      background-color: white;
      width: 100%;
      height: 10%;
      border-radius: 20em;
      transition: 200ms ease-out;
    }
  }
  /* medium screen */
  @media screen and (min-width: 768px) {
    & .nav-link-mobile {
      display: none;
    }

    & .burger-menu {
      display: none;
    }

    & .nav-link {
      display: flex;
      list-style: none;
      display: flex;
      gap: 1.5rem;

      & a {
        color: var(--white);
        transition: 200ms ease-out;
        text-decoration: none;

        &:hover {
          color: var(--blue);
        }
      }
    }
  }
}

/* HERO STYLING */

.hero-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .hero-img {
    width: 11rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 2rem;
    position: relative;
    pointer-events: none;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      inset: -1rem;
      background-color: var(--blue);
      border-radius: 50%;
      opacity: 15%;
      filter: blur(3.2rem);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      border-radius: inherit;
    }
  }

  & h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
    user-select: none;
    mix-blend-mode: lighten;
  }

  & .social {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    mix-blend-mode: lighten;

    & a {
      font-size: 1.5rem;
      color: var(--white);
      transition: 200ms ease-out;

      & svg {
        aspect-ratio: initial;
        height: 1.6rem;
        fill: white;
        transition: 200ms ease-out;

        &:hover {
          fill: var(--blue);
        }
      }

      &:hover {
        color: var(--blue);
      }
    }
  }

  @media screen and (min-width: 768px) {
    & .hero-img {
      width: 12.5rem;
    }

    & h1 {
      margin-bottom: 1rem;
    }
    & .social {
      margin-top: 0.5rem;
      gap: 1.5rem;
    }
  }
}

/* ABOUT STYLING */
.about-container {
  & p {
    text-indent: 5rem;
    text-align: justify;
    line-height: 1.8;
    color: var(--white);
  }

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
