@font-face {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  src: url("./fonts/Inter_18pt-Bold.ttf");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  src: url("./fonts/Inter_18pt-Regular.ttf");
}

/* RESET CSS */
:root {
  --black: rgb(2, 6, 10);
  --white: rgb(255, 255, 255);
  --white-low: rgba(218, 218, 218, 0.3);
  --blue: rgb(21, 208, 255);
  --blue-light: rgba(5, 54, 66, 0.05);
}
::selection {
  background-color: var(--blue);
  color: var(--black);
}

*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-inline: 0;
  margin-block: 0;
}
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color-scheme: only dark;
}
body {
  min-height: 100dvh;
  background-image: url("./assets/grid.svg");
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.not-found-page {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;

  & svg {
    aspect-ratio: initial;
    height: 5rem;
    fill: var(--blue);
  }

  & a {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    transition: 200ms ease-out;
    &:hover {
      scale: 1.1;
    }
  }

  & .not-found {
    font-size: 2.2rem;
    color: var(--blue);
    font-weight: bold;
    text-align: center;
  }
}

.container {
  max-width: 56rem;
  margin-inline: auto;
  padding-block: 6rem;
  padding-inline: 1.5rem;
}
.hidden {
  display: none;
}
.highlight {
  color: var(--blue);
  text-decoration: none;
}
.subtext.skill {
  color: var(--blue);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.15rem;

  & a {
    width: max-content !important;
    height: max-content !important;
  }
  & svg {
    width: fit-content !important;
    height: 1.1rem;
    aspect-ratio: initial;
    fill: var(--blue);
    stroke: var(--blue);
    cursor: pointer;
    transition: all 300ms ease-out;
  }
}
.nav-item {
  font-weight: 600;
  text-transform: capitalize;
  user-select: none;
}
.active {
  color: var(--blue) !important;
}
.section-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 0.8rem;

  & svg {
    aspect-ratio: initial;
    height: 1.5rem;
    fill: var(--blue);
  }
}
.section-text {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  color: var(--white);
}
.shape {
  position: fixed;
  width: 40px;
  border-radius: 50%;
  background-color: var(--blue);
  opacity: 15%;
  aspect-ratio: 1/1;
  pointer-events: none;
  z-index: 999;
}
/* HEADER STYLING */

.header-container {
  width: 100%;
  height: max-content;
  backdrop-filter: blur(10px);
}

.header-container {
  /* small screen default style */
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

  & .logo {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--white);
    transition: 200ms ease-out;
    &:hover {
      color: var(--blue);
    }
  }

  & .nav-link {
    display: none;
  }

  & ul.nav-link-mobile {
    --padding-top: 2.5rem;
    position: absolute;
    top: calc(2rem + var(--padding-top));
    right: calc(0% + 1.5rem);
    width: 10rem;
    height: max-content;
    border-radius: 0.5rem;
    background-color: var(--black);
    backdrop-filter: blur(10px) brightness(1);
    border: 1px solid var(--white-low);
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    & a {
      font-size: 1.2rem;
      text-decoration: none;
      color: var(--white);
      transition: 200ms ease-out;

      &:hover {
        color: var(--blue);
      }
      &.active {
        color: var(--blue) !important;
      }
    }
  }

  & .burger-menu {
    --size: 25px;
    width: var(--size);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    &:hover > span {
      background-color: var(--blue);
    }

    & span {
      background-color: white;
      width: 100%;
      height: 10%;
      border-radius: 20em;
      transition: 200ms ease-out;
    }
  }
  /* medium screen */
  @media screen and (min-width: 768px) {
    & .nav-link-mobile {
      display: none;
    }

    & .burger-menu {
      display: none;
    }

    & .nav-link {
      display: flex;
      list-style: none;
      display: flex;
      gap: 1.2rem;

      & a {
        color: var(--white);
        transition: 200ms ease-out;
        text-decoration: none;

        &:hover {
          color: var(--blue);
        }
      }
    }
  }
}

/* HERO STYLING */

.hero-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .hero-img {
    width: 7rem;
    aspect-ratio: initial;
    margin-bottom: 4rem;
    position: relative;
    pointer-events: none;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      inset: -1rem;
      background-color: var(--blue);
      border-radius: 50%;
      opacity: 24%;
      filter: blur(3.5rem);
    }

    & img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      border-radius: inherit;
    }
  }

  & h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
    user-select: none;
    mix-blend-mode: lighten;
  }

  & .social {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    mix-blend-mode: lighten;

    & a {
      font-size: 1.5rem;
      color: var(--white);
      transition: 200ms ease-out;

      & svg {
        aspect-ratio: initial;
        height: 1.6rem;
        fill: white;
        transition: 200ms ease-out;

        &:hover {
          fill: var(--blue);
        }
      }

      &:hover {
        color: var(--blue);
      }
    }
  }

  @media screen and (min-width: 768px) {
    & h1 {
      margin-bottom: 1rem;
    }
    & .social {
      margin-top: 0.5rem;
      gap: 1.5rem;
    }
  }
}

/* ABOUT STYLING */
.about-container {
  & p {
    text-indent: 5rem;
    font-weight: normal;
    text-align: justify;
    line-height: 2;
    color: var(--white);
  }

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* remove cursor effect in small screen */
@media screen and (max-width: 768px) {
  .shape {
    display: none;
  }
}

/* PROJECTS STYLING */
.projects {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 0.5rem;

  & .loading {
    color: var(--blue);
  }
  @media screen and (width >= 768px) {
    &:has(.project-card:hover) .project-card:not(:hover) {
      filter: blur(3px) brightness(38%);
    }
  }
}

.project-count {
  font-weight: bold;
}

.project-card {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.6rem 1.5rem;
  border: 2px solid var(--blue);
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 300ms ease-out;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-content: center;
  gap: 1rem;
  filter: blur(0px);

  & svg {
    aspect-ratio: initial;
    height: 1.2rem;
    fill: var(--blue);
  }

  & .project-title {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--blue);
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  @media screen and (width >= 768px) {
    &:hover {
      scale: 1.08;
    }
  }
}

.center {
  /* for aligning the spnner */
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--blue));
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 6.4px),
    #000 0
  );
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
